In [1]:
'''
Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system.

SQL Databases(Relational Databases):
1.  Structured Query Language (SQL) is a programming language that allows both technical and non-technically-minded users to query,
    manipulate, and change data in a relational database.
2.  Organized into columns and rows within a table, SQL databases use a relational 
    model that work best with well-defined structured data.
3. They have fixed schema

NoSQL Databases(Non-Relational Databases):
1. NoSQL databases are non-relational databases that store data in a manner other than the tabular relations used within SQL databases.
2. NoSQL uses non-tabular data models, which can be document-oriented, key-value, or graph-based.
3. NoSQL databases have a dynamic schema for unstructured data, making integrating data in certain types of applications easier and faster.

'''

'\nQ1. What is a database? Differentiate between SQL and NoSQL databases.\n\nA database is an organized collection of structured information, or data, typically stored electronically in a computer system.\n\nSQL Databases(Relational Databases):\n1.  Structured Query Language (SQL) is a programming language that allows both technical and non-technically-minded users to query,\n    manipulate, and change data in a relational database.\n2.  Organized into columns and rows within a table, SQL databases use a relational \n    model that work best with well-defined structured data.\n3. They have fixed schema\n\nNoSQL Databases(Non-Relational Databases):\n1. NoSQL databases are non-relational databases that store data in a manner other than the tabular relations used within SQL databases.\n2. NoSQL uses non-tabular data models, which can be document-oriented, key-value, or graph-based.\n3. NoSQL databases have a dynamic schema for unstructured data, making integrating data in certain types of applications easier and faster.\n\n'

In [2]:
'''

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL is a short form of a Data Definition Language , this is collection of commands which are required for defining data base schema.

List of DDL commands -
1. CREATE : This commad is used to create databse or its objects like table 
    eg . CREATE TABLE Students;
    
2. DROP : Drop commad deletes respective object from database like table, column 
    eg . DROP TABLE Test;
    
3. ALTER : This is used to alter the structure of the database.
    eg. ALTER TABLE Test
        ADD COLUMN col_1;
        
4. TRUNCATE : The Truncate table command deletes the data inside a table, but not the table itself.
    eg. TRUNCATE TABLE students;

'''

'\n\nQ2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.\n\nDDL is a short form of a Data Definition Language , this is collection of commands which are required for defining data base schema.\n\nList of DDL commands -\n1. CREATE : This commad is used to create databse or its objects like table \n2. DROP : Drop commad deletes respective object from database like table, column \n3. ALTER : This is used to alter the structure of the database.\n4. TRUNCATE : The Truncate table command deletes the data inside a table, but not the table itself.\n\n'

In [3]:
''' 

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML is a Data manipulation language , this is collection of commands which are required for manipulation of data inside the table.

List of DML commands - 
1. INSERT : This command is used to insert records into a table.

    eg. INSERT INTO table_1( name , age , student_id)
        VALUES('kRUSHNA','24','23');
        
        
2. UPDATE : It is used to Update the existing data inside a table.
    
    eg. UPDATE customer
        SET name = 'Sagar'
        where id = 9;
3. DELETE : It is used to delete records from a database table.

    eg. DELETE FROM customer where id = 1;
    
'''

" \n\nQ3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.\n\nDML is a Data manipulation language , this is collection of commands which are required for manipulation of data inside the table.\n\nList of DML commands - \n1. INSERT : This command is used to insert records into a table.\n\n    eg. INSERT INTO table_1( name , age , student_id)\n        VALUES('kRUSHNA','24','23');\n        \n        \n2. UPDATE : It is used to Update the existing data inside a table.\n    \n    eg. UPDATE customer\n        SET name = 'Sagar'\n        where id = 9;\n3. DELETE : It is used to delete records from a database table.\n\n    eg. DELETE FROM customer where id = 1;\n    \n"

In [4]:
'''

Q4. What is DQL? Explain SELECT with an example.

DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get
some schema relation based on the query passed to it.

SELECT: It is used to retrieve data from the database.

eg. SELECT name from students
    where id = 100;
    
'''

'\n\nQ4. What is DQL? Explain SELECT with an example.\n\nDQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get\nsome schema relation based on the query passed to it.\n\nSELECT: It is used to retrieve data from the database.\n\neg. SELECT name from students\n    where id = 100;\n    \n'

In [5]:
'''

Q5. Explain Primary Key and Foreign Key.

Primary Key : 
A primary key is unique column we set in a table to easily identify and locate data in queries. A table can have only one primary key.

Foreign Key :
A foreign key is a column used to link two or more tables together.

'''

'\n\nQ5. Explain Primary Key and Foreign Key.\n\nPrimary Key : \nA primary key is unique column we set in a table to easily identify and locate data in queries. A table can have only one primary key.\n\nForeign Key :\nA foreign key is a column used to link two or more tables together.\n\n'

In [6]:
'''

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
mydb = mysqlconnector.connect(

    host = 'localhost',
    user='abc',
    password='123456'
)
mycursor = mydb.cursor()
mycursor.execute("sql query")
mydb.close()

cursor() - It is an object that is used to make the connection for executing SQL queries.
           It acts as middleware between SQLite database connection and SQL query. 
           
Execute() - This method execute statements that returns a result set by fetching some data from the database.

'''

'\n\nQ6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.\n\nimport mysql.connector\nmydb = mysqlconnector.connect(\n\n    host = \'localhost\',\n    user=\'abc\',\n    password=\'123456\'\n)\nmycursor = mydb.cursor()\nmycursor.execute("sql query")\nmydb.close()\n\ncursor() - It is an object that is used to make the connection for executing SQL queries.\n           It acts as middleware between SQLite database connection and SQL query. \n           \nExecute() - This method execute statements that returns a result set by fetching some data from the database.\n\n'

In [ ]:
'''

Q7. Give the order of execution of SQL clauses in an SQL query.

order of execution of SQL clauses in an SQL query is as follows
1.  FROM
2.  ON
3.  JOIN
4.  WHERE
5.  GROUP BY
6.  WITH CUBE or WITH ROLLUP
7.  HAVING
8.  SELECT
9.  DISTINCT
10. ORDER BY
11. TOP